body {
  margin:0px;
  background-color:rgba(251, 251, 251, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1091px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
}
#u17780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17781 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:50px;
  height:50px;
}
#u17781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17782 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:5px;
  width:50px;
  height:50px;
}
#u17782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17784 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1689px;
  width:600px;
  height:313px;
}
#u17784_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u17785 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:1711px;
  width:77px;
  height:17px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u17785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u17786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u17786 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1711px;
  width:88px;
  height:17px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u17786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u17787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u17787 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1711px;
  width:79px;
  height:17px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u17787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u17788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u17788 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:1711px;
  width:78px;
  height:17px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  text-align:center;
}
#u17788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u17789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u17790 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1950px;
  width:600px;
  height:22px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u17790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u17791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u17791 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:1752px;
  width:25px;
  height:20px;
}
#u17791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u17792 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1752px;
  width:25px;
  height:20px;
}
#u17792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:175px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17793 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1515px;
  width:600px;
  height:175px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17793_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:578px;
  word-wrap:break-word;
}
#u17794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17795 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:1585px;
  width:20px;
  height:20px;
}
#u17795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
}
#u17796 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:1615px;
  width:111px;
  height:43px;
  font-size:12px;
  text-align:center;
}
#u17796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u17797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u17798 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:1972px;
  width:600px;
  height:22px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u17798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  word-wrap:break-word;
}
#u17799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u17800 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:1586px;
  width:27px;
  height:20px;
}
#u17800_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  text-align:center;
}
#u17801 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:1644px;
  width:67px;
  height:14px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:underline;
  text-align:center;
}
#u17801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u17802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u17802 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1615px;
  width:134px;
  height:14px;
  font-size:12px;
}
#u17802_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u17803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:138px;
}
#u17803 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1787px;
  width:242px;
  height:138px;
}
#u17803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u17804 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:1806px;
  width:111px;
  height:111px;
}
#u17804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u17805 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:1806px;
  width:111px;
  height:111px;
}
#u17805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:13px;
}
#u17806 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:90px;
  width:560px;
  height:95px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:13px;
}
#u17806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u17808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:81px;
}
#u17808 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:42px;
  width:429px;
  height:80px;
  text-align:left;
}
#u17808_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:23px;
  width:409px;
  word-wrap:break-word;
}
#u17809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u17809 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:343px;
  width:229px;
  height:26px;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u17809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u17810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u17810 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:385px;
  width:560px;
  height:1px;
}
#u17810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17811 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:408px;
  width:215px;
  height:16px;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u17812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u17812 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:892px;
  width:560px;
  height:1px;
}
#u17812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u17813 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:850px;
  width:98px;
  height:32px;
  font-size:18px;
  color:#BCBCBC;
}
#u17813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u17814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:2px;
}
#u17814 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1030px;
  width:548px;
  height:1px;
}
#u17814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:108px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u17816 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:910px;
  width:80px;
  height:108px;
  color:#868686;
}
#u17816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:76px;
  word-wrap:break-word;
}
#u17817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u17817 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:911px;
  width:40px;
  height:18px;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u17817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u17818 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:929px;
  width:161px;
  height:16px;
  color:#797979;
}
#u17818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u17819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17819 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:981px;
  width:72px;
  height:15px;
  font-size:13px;
}
#u17819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17820 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1001px;
  width:53px;
  height:15px;
  font-size:13px;
}
#u17820_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u17821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u17821 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:956px;
  width:41px;
  height:16px;
  color:#797979;
}
#u17821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17822 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:957px;
  width:43px;
  height:15px;
  font-size:13px;
}
#u17822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17823 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:108px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u17824 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1041px;
  width:80px;
  height:108px;
  color:#868686;
}
#u17824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:76px;
  word-wrap:break-word;
}
#u17825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u17825 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1042px;
  width:40px;
  height:18px;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u17825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u17826 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1060px;
  width:161px;
  height:16px;
  color:#797979;
}
#u17826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u17827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17827 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1112px;
  width:72px;
  height:15px;
  font-size:13px;
}
#u17827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17828 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1132px;
  width:53px;
  height:15px;
  font-size:13px;
}
#u17828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u17829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u17829 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1087px;
  width:41px;
  height:16px;
  color:#797979;
}
#u17829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17830 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:1088px;
  width:43px;
  height:15px;
  font-size:13px;
}
#u17830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:108px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u17832 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1171px;
  width:80px;
  height:108px;
  color:#868686;
}
#u17832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:76px;
  word-wrap:break-word;
}
#u17833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u17833 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1172px;
  width:40px;
  height:18px;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#363636;
}
#u17833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u17834 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1190px;
  width:161px;
  height:16px;
  color:#797979;
}
#u17834_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u17835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17835 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1242px;
  width:72px;
  height:15px;
  font-size:13px;
}
#u17835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17836 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:1262px;
  width:53px;
  height:15px;
  font-size:13px;
}
#u17836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u17837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u17837 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1217px;
  width:41px;
  height:16px;
  color:#797979;
}
#u17837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u17838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u17838 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:1218px;
  width:43px;
  height:15px;
  font-size:13px;
}
#u17838_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u17839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1B1B1B;
  text-align:right;
}
#u17839 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:858px;
  width:58px;
  height:16px;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1B1B1B;
  text-align:right;
}
#u17839_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u17840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u17840 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1297px;
  width:560px;
  height:1px;
}
#u17840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
}
#u17841 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1320px;
  width:295px;
  height:20px;
  color:#363636;
}
#u17841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  white-space:nowrap;
}
#u17842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
}
#u17842 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1387px;
  width:297px;
  height:20px;
  color:#363636;
}
#u17842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  white-space:nowrap;
}
#u17843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:2px;
}
#u17843 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1423px;
  width:295px;
  height:1px;
  font-size:14px;
}
#u17843_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u17844 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1435px;
  width:295px;
  height:20px;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u17844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u17845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u17846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  line-height:16px;
}
#u17846 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:1356px;
  width:297px;
  height:48px;
  color:#363636;
  line-height:16px;
}
#u17846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u17847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#363636;
  line-height:16px;
}
#u17847 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:1356px;
  width:60px;
  height:16px;
  color:#363636;
  line-height:16px;
}
#u17847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u17848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:2px;
}
#u17848 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:1159px;
  width:548px;
  height:1px;
}
#u17848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:400px;
}
#u17849 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:326px;
  width:386px;
  height:399px;
  text-align:left;
}
#u17849_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:19px;
  width:366px;
  word-wrap:break-word;
}
#u17850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17850 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:443px;
  width:167px;
  height:16px;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u17851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17851 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:474px;
  width:242px;
  height:16px;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u17852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17852 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:570px;
  width:169px;
  height:16px;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u17853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17853 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:699px;
  width:477px;
  height:33px;
}
#u17853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  white-space:nowrap;
}
#u17854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17854 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:666px;
  width:180px;
  height:20px;
}
#u17854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u17855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u17855 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:629px;
  width:106px;
  height:32px;
  font-size:18px;
  color:#BCBCBC;
}
#u17855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u17856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17856 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:811px;
  width:319px;
  height:16px;
}
#u17856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  white-space:nowrap;
}
#u17857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#BCBCBC;
}
#u17857 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:408px;
  width:82px;
  height:32px;
  font-size:18px;
  color:#BCBCBC;
}
#u17857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u17858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17858 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:539px;
  width:169px;
  height:16px;
}
#u17858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u17859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17859 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:506px;
  width:167px;
  height:16px;
  font-family:'Quicksand', 'helvetica';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u17859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u17860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:91px;
}
#u17860 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:754px;
  width:386px;
  height:90px;
  text-align:left;
}
#u17860_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:366px;
  word-wrap:break-word;
}
#u17861 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:699px;
  width:0px;
  height:0px;
}
#u17861_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:8px;
  height:23px;
}
#u17861_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:399px;
  height:8px;
}
#u17861_seg2 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:-23px;
  width:8px;
  height:127px;
}
#u17861_seg3 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:96px;
  width:46px;
  height:8px;
}
#u17861_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u17861_seg5 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:90px;
  width:20px;
  height:20px;
}
#u17861_text {
  border-width:0px;
  position:absolute;
  left:216px;
  top:-27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:13px;
}
#u17862 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:208px;
  width:560px;
  height:99px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-style:normal;
  font-size:13px;
}
#u17862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
