body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u31562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u31562 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:159px;
  width:335px;
  height:68px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  color:#666666;
}
#u31562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u31564 {
  position:fixed;
  left:0px;
  top:0px;
}
#u31564_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background-image:none;
}
#u31564_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u31565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u31565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u31566 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:7px;
  width:30px;
  height:30px;
}
#u31566_img.selected {
}
#u31566.selected {
}
#u31566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:24px;
}
#u31567 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:32px;
  height:24px;
}
#u31567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u31569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:316px;
}
#u31569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:351px;
  width:375px;
  height:316px;
}
#u31569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31570 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:601px;
  width:355px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px -2px 5px rgba(242, 242, 242, 0.349019607843137);
  -webkit-box-shadow:0px -2px 5px rgba(242, 242, 242, 0.349019607843137);
  box-shadow:0px -2px 5px rgba(242, 242, 242, 0.349019607843137);
}
#u31572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:623px;
  width:375px;
  height:44px;
}
#u31572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u31573 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:628px;
  width:297px;
  height:34px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  color:#999999;
  text-align:center;
}
#u31573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u31574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u31574 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:93px;
  width:297px;
  height:42px;
  font-family:'Quicksand', 'helvetica';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u31574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  white-space:nowrap;
}
